.header {
  background-color: aqua;
  z-index: 1000;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
}